/* Particles */
#particles-js {
  background-image:linear-gradient(#9232B3,#56D9C9);
  height: 476px;
}
/* Fin particles */


/* Nav Bar */

@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
     
  }
}
.navbar {
  z-index: 1;
  box-shadow:none;
  z-index: 9;
  background-color: #ffffff;
}
.navbar {
  background-color: transparent;
}


/* Text Name */
h1{
  font-size: 70px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  letter-spacing: 10px;
}




/* color nav */

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
  color: #ffffff;
}
/* fin color nav */


.top-nav-collapse {
  background-color: #56D9C9;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color:#ffffffa9;
      
  }
}

/* Fin nav bar */


/* textName */
.text-name{
  position: absolute;
  margin-top: 10em;
  color:whitesmoke;
}
/* Fin textName */


/*=============================================
=            Section 2  What I do        =
=============================================*/

/* Gradient sección 2 */
#whatIdo{
  background-image: linear-gradient(#56D9C9,#55b9bd13);
  padding-bottom: 5rem;
  
}
/* Fin gradient seccion 2 */


/* Start icons */

#icons{
  margin-top: 3rem;
}

/* End icons */


/* Start title icons */
h2, h5{
  font-weight: 400
}

/* End title icon */


/* Margin top WID */

#WID{
  margin-top: 12rem;
}
/* Fin Margin top WID */


/* Parrafo  */
#UX-UI{
  font-size: 20px;
}
/* Fin Párrafo */


.text-wid{
  font-size: 1.1em;
}


/* imgFinger */
#finger{
  position: absolute;
  width:15%;
  height:15%;
  top:66px; 
  left:120px; 
  visibility: visible;
  z-index: 10;
}

/* Fin imgFinger */

@media only screen and (min-width: 320px) {
}

/*=====  Fin Sección What I Do ======*/


/*=============================================
=            Section projects            =
=============================================*/

.projects{
  background-image: linear-gradient(#55b9bd13,#ffffff);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

/* Img responsive */
#p1{
  max-width: 100%;
    height: auto;
    margin-top: 5vh;   
    background-color: #4770d613;
}
/* Fin img responsive */

/* Title projects */
h3{
  font-size: 10vh;
  margin-top: 18vh;
  font-weight: 600;
}
/* End title project */


/* Second title project */
.second-title{
  font-size: 10vh;
  font-weight: 600;
   margin-left: 8vh;
}

/* End second title project */

.left-line {
  content: '';
  position: absolute;
  left: 3.2vh;
  top: 38vh;
  background: #9232B3;
  height: .3em;
  width: 2em;
}
 .text-project{
   font-size: 3.5vh;
}


@media only screen and (min-width: 320px) {
}


/*=====  End of Section projects  ======*/




/*=====  footer  ======*/
.footer-line{
  height: 0.1vh;
  width: 100%;
  margin-top: 15vh;
  background: rgb(237, 231, 240);
}

.footer-color{
  background-color: rgb(240, 246, 252);
  width: 100vw;
  height: 10vh;
  padding-bottom: 2vh;
  margin-top: 5vh;
}
/*=====  End footer ======*/






